/* Reglas universales */

:root {
    --color-primario: rgb(43, 139, 223);
    --color-secundario: #e91e63;
    --color-terciario: #303030;
    --color-cuaternario: #f2f2f2;
    --color-slide: rgba(255, 255, 255, 0.5);
    --color-nav: #17191b;
    --bg-oscuro: #171717;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.header {
    background-color: var(--color-nav);
    height: 14vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;

}

/*estilos a todos los links*/
.nav-link {
    color: var(--color-cuaternario);
    text-decoration: none;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.nav .nav-link img {
    height: 10vh;
    margin-top: 0.8rem;

}
.nav-menu {
    display: flex;
    margin-right: 1rem;
    list-style: none;
}

/*formato del estilo del link del menu*/
.nav-menu-item {
    font-size: 1rem;
    line-height: 15vh;
    text-transform: uppercase;
    width: max-content;
    margin: 0 .6rem;
}

.nav-menu-link {
    padding: .5rem .7rem;
    transition: all .7s ease;
}

.nav-menu-item.dropdown {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}


.dropdown-content {
    position: absolute;
    top: 80px;
    background-color: var(--color-primario);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transition: all .7s ease;
}


/****CARRITO DE COMPRAS****/
.container-carrito{
    line-height: 15vh;
    width: max-content;
   
}

/**********CAROUSEL************/
h1 {
    text-align: center;
}


#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 700px;
    width: 300%;
}

.cuerpo-texto{
    text-align: center;
    padding: 10px 10px;
    color: var(--color-nav);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    background-color: var(--color-slide);
    position: relative;
    bottom: 15%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 700px;
    width: 100%;
    display: flex;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
/***********FOOTER********************/
#footer-content {
    width: 100%;
    background-color: var(--color-terciario);
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    gap: 2em;
}

.copy-footer {
    text-align: center;
    color: var(--color-cuaternario);
    height: auto;
    padding: .3em;
}

.footer-access {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;

    margin-top: .5em;
    padding: 1em;
    gap: 5em;
}

.footer-link a {
    text-decoration: none;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    padding: 2em;

    border-radius: 1em;

    background-color: var(--bg-oscuro);
    color: var(--color-primario);
    text-transform: uppercase;
    text-align: center;

    transition: transform 0.1s ease-in;
}

.footer-link a i {
    font-size: 3em;
}

.footer-link a:hover {
    background-color: var(--bg-oscuro);
    color: var(--color-secundario);
    box-shadow: 0px 0px 19px 3px rgba(255, 255, 255, 0.58);

    transform: scale(1.03);
}

.footer-info {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;

    padding: 1.5em;
    background-color: var(--bg-oscuro);
}

.logo-link {
    margin-left: 5em;
}

.logo-link a img {
    width: 12em;
    border-radius: 50%;
}

.address-info h2{
    color: var(--color-cuaternario);
    font-size: 3em;
}

.address-info a,
.attention-info {
    display: flex;
    flex-direction: row;
    gap: .6em;
    font-size: 1em;
    text-decoration: none;
    color: var(--color-primario);
}

.address-info i,
.attention-info i {
    font-size: 2em;
}

.address-info-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.attention-info {
    height: 6em;
}

.attention-info h5 {
    font-size: 1.3em;
}